.float-left{
    float: left;
}
.float-right{
    float: right;
}
svg {fill: #999;}
svg:hover{fill: #000;}
input{
    width: 70%;
    border: none;
    padding: 10px 10px;
    background: inherit;
    outline: none;
}

textarea{
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}
button{
    border: none;
    background: #fff;
    cursor: pointer;
    color: #888;
    padding: 0;
    margin-right: 5px;
    outline: none;
}
.inputBtn,.btn{
    background: inherit;
    border: 1px solid #ccc;
    padding: 0;
    margin: 8px 15px 0 0;
    height: 22px;
    border-radius: 50%;
    float: right;
}
button:hover{
    color: #333;
}
.detailBtn{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #248630;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
/*vue event css*/
.highlight{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #1e9e06;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
/**/
.todoForm{
    background: #eee;
    border-bottom: 1px solid #ccc;
    padding: 0;
}
/*vue event*/
.focusStyle{
    background: #fff;
    border: 2px solid #ccc;
}
p{
    margin: 0;
    padding: 5px;
}
#header{
    background: #27ae60;
    padding: 10px 0;
    margin-bottom: 20px;
}
.navbar{
    color: #fff;
    font-weight: 600;
    text-align: center;
}
#main{
    width: 50%;
    margin: 0 auto;
}
.wrap{
    text-align: center;
}
.todo,.done{
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.item{
    background: #fff;
    border-bottom: 1px solid #ccc;
    padding: 10px 10px;
    text-align: left;
}
.detail{
    margin-top: 10px;
    border-top: 1px solid #ccc;
    padding: 10px 20px 0 20px;
    font-size: 14px;
    color: #555;
}
.done{
    margin-bottom: 20px;
}
.title{
    border: 1px solid #ccc;
    padding: 6px 5px;
    border-radius: 3px;
    background: #27ae60;
    color: #fff;
    margin: 20px 0 10px;
    font-size: 16px;
    font-weight: 600;
}
.datetime{
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 5px 5px;
    padding: 0 8px;
    color: #555;
}
p.alerted{
    border-top: 1px solid #ccc;
}